<div class="contenido">
    <div class="TextoIntroduccion">
        <h2>Quieres crear tus <br> propias melodias?</h2>
        <p>Esta página te permite crear melodías sin saber teoría musical. Experimenta con sonidos, ritmos y armonías para componer canciones fácilmente.
            Encuentra inspiración y explora tu creatividad con las herramientas ofrece.</p>
        <a routerLink="/login">Comenzar</a>
    </div>
    <div class="imagenBox">
        <img src="https://firebasestorage.googleapis.com/v0/b/chordcreates.appspot.com/o/img%2Fhome_leadingpage%2FChordCreate_home.png?alt=media&token=6bef1c73-f587-4cdc-9cf4-68db10f03ca2">
    </div>
</div>