<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ChordCreate</title>

</head>
<body>
    <div class="VentanaContraseña">
        <form>
            <h1>Did you forget your<br>password?</h1>
            <div>
                <p>Don't worry, provide your Email and we will send you an email to reset your password.</p>
            </div>
            <div class="input-box">
                <input type="text" [(ngModel)]="email" name="correo" placeholder="Correo Electronico" required>
            </div>
            <button (click)="resetPassword()"> > </button>
            <div class="registrarte-link">
                <p>Already have an account? <a routerLink="/login">Log In</a></p>
            </div>
        </form>
    </div>
    <link rel="stylesheet" href="forgot-pasword.component.css">
</body>
</html>